html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #74ebd5, #9face6);
}
nav {
    background: white;
    padding: 15px;
    text-align: center;
}
nav a {
    margin: 20px;
    text-decoration: none;
    color: royalblue;
    font-weight: bold;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 50px 20px;
}
h1 {
    font-size: 48px;
}
p {
    font-size: 20px;
}
button {
    background: royalblue;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background: darkblue;
    transform: scale(1.05) translateY(-3px);
}
section {
    background: white;
    margin: 40px auto;
    padding: 30px;
    width: 80%;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}
section:hover {
    transform: translateY(-5px);
}
footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
}

.hero-text {
    width: 400px;
}
.hero-text h1 {
    font-size: 40px;
    margin: 0 0 20px 0;
}
.hero-text p {
    margin: 20px 0;
}
header img {
    width: 150px;
    border-radius: 50px;
}
.skills {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 30px;
}
.skill-card {
    flex: 1;
    background: #f8f9ff;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    cursor: pointer;
}
.skill-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}
.skill-card h3 {
    color: royalblue;
    margin-bottom: 15px;
    font-size: 24px;
}
.skill-card p {
    margin: 0;
    color: #555;
}
.progress {
    width: 100%;
    height: 10px;
    background: #ddd;
    border-radius: 10px;
    margin-top: 15px;
    overflow: hidden;
}
.progress-bar {
    height: 100%;
    background: royalblue;
    border-radius: 10px;
    animation: fillBar 2s ease;
    transform-origin: left;
}
.html {
    width: 70%;
}
.css {
    width: 60%;
}
.js {
    width: 30%;
}
@keyframes fillBar {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}
.projects {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
.project-card {
    flex: 1;
    background: #f8f9ff;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.3s;
}
.project-card:hover {
    background: #e8f4ff;
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}
.project-card h3 {
    color: royalblye;
}
.project-card p{
    font-size: 16px;
    color: #555;
}
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }
    .hero-text {
        width: 100%;
    }
    .skills {
        flex-direction: column;
    }
    nav ul {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    nav li {
        width: 100%;
        text-align: center;
    }
    .project {
        flex-direction: column;
    }
}
#contacts{
    text-align: center;
}
#contacts a {
    color: #4a90e2;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}
#contacts a:hover {
    color: #2c6ecb;
    text-decoration: underline;
}
.social-links {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 35px;
}
.social-links a {
    color: royalblue;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}
.social-links a:hover {
    color: darkblue;
    transform: scale(1.15) translateY(-5px);
}
.contact-button {
    display: inline-block;
    background: royalblue;
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
}
.contact-button:hover {
    background: darkblue;
    transform: scale(1.05) translateY(-3px);
}
.project-button {
    display: inline-block;
    background: royalblue;
    color: white;
    padding: 12px 24px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
}
.project-button:hover {
    background: darkblue;
    transform: scale(1.05) translateY(-3px);
}
.project-image {
    width: 200px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.back-button {
    display: inline-block;
    background: royalblue;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
}
.back-button:hover {
    background: darkblue;
    transition: 0.3s;
    transform: scale(1.05);
}
.project-page {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
}
.project-skills {
    line-height: 1.8;
}
.project-skills li:hover {
    color: royalblue;
}